<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        <!-- 在遍历数组时，没遍历下标(索引值) -->
        <ul>
            <li v-for="item in movies">{{item}}</li>
        </ul>
        <!-- 在遍历数组， 遍历下标-->
        <ul>
            <li v-for="(item,index) in movies">{{index}}--{{item}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#demo',
            data: {
                movies:['战狼','姜子牙','雷神','我是特种兵']
            }
        })
    </script>
</body>
</html>