<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        <ul>
            <li v-for="(score,index) in grade">{{index}}--{{score}}</li>
        </ul>
        <ul>
            <li v-for="(score,index) in grade" :key="score">{{index}}--{{score}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#demo',
            data: {
                grade:['82','90','89','76','65']
            }
        })
    </script>
</body>
</html>